<h1>Topics List</h1>

<p>This site is a collection of notes I've take about various technologies. Most notes are about installing and using tools on OS X, but some are Linux specific (Ubuntu, CentOS, Red Hat). For information on how this site is generated please see the <a href="/about">about</a> note.</p>

<p><em>These are my personal notes, so I make no guarantee to their correctness or completeness.</em></p>


<ul>
<% @topics.each do |topic| %>
  <li><a href="/<%= topic %>"><%= topic %></a></li>
<% end %>
</ul>

<h2>Conventions</h2>

<blockquote><p>Quotations from sites are displayed like this. This one isn't a quote though.</p></blockquote>

<p>File listings are provided in blocks of code, as such:</p>

<pre>username=adent
password=fortytwo</pre>

<p>In most places I use `$` to signify commands entered at the console, like this:</p>

<pre>$ echo 'Hello, world!'</pre>

<p></p>