<h1>Build & Deploy Notes</h1>

<blockquote><p>These are my personal notes, so I make no guarantee to their correctness or completeness.</p></blockquote>

<p>This site is a collection of notes I've take about various technologies. Most notes are about installing and using tools on OS X, but some are Linux specific (Ubuntu, CentOS, Red Hat). For information on how this site is generated please see the <a href="/about">about</a> note.</p>

<ul>
<% @topics.each do |topic| %>
  <li><a href="/<%= topic %>"><%= topic %></a></li>
<% end %>
</ul>

<h2>Conventions</h2>

<p>File listings are provided in blocks of code, as such:</p>

<pre><code>username=adent
password=fortytwo</code></pre>

<p>In most places I use `$` to signify commands entered at the console, like this:</p>

<pre><code>$ echo 'Hello, world!'</code></pre>

<p></p>