<html>
  <head>
	<title>Notes</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css" />
	<script type="text/javascript" src="http://use.typekit.com/rqw5jrt.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-80575-13']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
  </head>

  <body>
    <p><a href="/">Home</a><% if (@topic) then %> | <a href="<%= @topic %>/source">View Markdown Source</a><% end %></p>

	<%= yield %>
	
	<% if (@topic) then %>
		<h2>Discussion</h2>
	
		<p>If you have a question or suggestion, please add a comment below.</p>
	
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    var disqus_shortname = 'bndnotes';
		    var disqus_identifier = '<%= @topic %>';
		    var disqus_url = 'http://notes.buildndeploy.com/<%= @topic %>';

		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	<% end %>
  </body>

</html>
