body, td, th {
  font-size: large;
  font-family: "calluna-1","calluna-2", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  vertical-align: top;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
}

body {
  background: #fff;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 2px solid #000;
}

h3 {
  border-bottom: 1px solid #000;
}

h4 {
  border-bottom: 1px solid #aaa;
}

h5 {
  border-bottom: 1px dashed #ccc;
}

blockquote {
  font-style: italic;
}

pre {
	background: #eee;
    border: 1px solid #ccc;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
}

code {
	font-size: 1.2em;
}

pre code {
	padding: 1em;
	display: block;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5em;
}
