body, td, th {
  font-size: large;
  font-family: "calluna-1","calluna-2", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  background: #eee;
  color: #000;
  vertical-align: top;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 2px solid #000;
}

h3 {
  border-bottom: 1px solid #000;
}

h4 {
  border-bottom: 1px solid #aaa;
}

h5 {
  border-bottom: 1px dashed #ccc;
}

blockquote {
  font-style: italic;
  margin: 0;
  background: #efe;
  padding: 4px;
}

pre {
	background: #ddd;
	color: #000;
    border: 1px dashed #aaa;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
}

code {
	font-size: 1.0em;
}

pre code {
	padding: 1em;
	display: block;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5em;
}

#main {
  width: 800px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1em;
  background: #fff;
  border: 1px solid #ccc;
}